* {
    box-sizing: border-box;
}
body {
    font-family: 'Saira Stencil One', cursive;
    text-decoration-style: solid;
    align-content: center;
    background-image: url("http://img.wennermedia.com/social/rs-black-sabbath-e777e412-7a2a-4782-b108-63871f9a2976.jpg");
    background-color: #000000;
    background-repeat: no-repeat;
    background-position: top center;
}
h1 {
    margin: 15px auto;
}
.invisible {
    display: none;
}
.progress-container {
    display: flex;
    justify-content: space-around;
}
.score {
    margin-right: 10px;
}
.question-number {
    margin-left: 10px;
}
#multipleChoice {
    margin: 20px auto;
}
.correctAnswer {
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
    font-family: 'Mystery Quest', cursive;
    font-size: x-large;
    color: #008000;
    background-color: #000000;
    border: 3px solid #008000;
    border-radius: 3px;
    box-shadow: 6px 9px 8px #004700;
}
.wrongAnswer {
    display: inline-block;
    padding-right: 15px;
    padding-left: 15px;
    font-family: 'Nosifer', cursive;
    color: #ff0000;
    background-color: #000000;
    border: 3px solid #ff0000;
    border-radius: 3px;
    box-shadow: 6px 9px 8px #790000;
}
.select-answer-parent {
    text-align: center;
}
.select-answer {
    display: inline-block;
    text-align: left;
}
.select-answer input {
    align-content: justify;
}
p, label, button {
    font-weight: bold;
}
.parent-containers {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 5% 0;
}
.top-container {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('https://i.pinimg.com/originals/49/e5/3a/49e53ac6960279f387be3689a075e94e.jpg');
    background-size: contain;
    background-position: center;
    border: 5px ridge #929292;
    border-radius: 3px;
    box-shadow: 8px 12px 8px #000000;
    text-align: center;
    color: #e4e4e4;
    display: inline-block;
}
.bottom-container {
    background: linear-gradient( rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7) ), url('https://i.pinimg.com/originals/49/e5/3a/49e53ac6960279f387be3689a075e94e.jpg');
    background-size: contain;
    background-position: center;
    border: 5px ridge #929292;
    border-radius: 3px;
    box-shadow: 8px 12px 8px #000000;
    text-align: center;
    color: #e4e4e4;
    background-color: #000000;
    display: inline-block;
}
label:hover {
    cursor: pointer;
}

button {
    background-color: #e4e4e4;
    border: 2px solid #e4e4e4;
    border-radius: 3px;
    box-shadow: 3px 5px 7px #494949;
    width: 120px;
    height: auto;
    cursor: pointer;
    margin-bottom: 20px;
}
button:hover {
    background-color:#000000;
    color: #e4e4e4;
}
@media (min-width: 320px) {
    body {
        background-size: cover;
    }
}